@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.cdnfonts.com/css/bitsumishi');



.section1{
    height: 200px;
    box-shadow: 0px 4px 25px 0px #00000040;
   background: #1A1A23;
   margin-top: -100px;
   margin-bottom: 50px;
 
}
.section1 h3{
    font-family: 'Bitsumishi';
    font-size: 50px;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 0em;
    text-align: center;
   color: #F9DB10;

}
.section1 h6{
    font-family: 'Bitsumishi';
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
    color: #fff;

}
.cardHeader{
    margin-top: 50px;
    width: 100%;
   text-align: center;
}
.btn{
    border: 1px solid #F9DB10;
    font-family: 'Montserrat';
    font-size: 13px;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 0em;
    text-align: left;
    color: #F9DB10;
    border-radius: 8px;
    padding: 0px 30px;
    background-color: transparent;
}
.red{
    color: red;
    font-size: 12px;
}

.section2{
    margin-bottom: 70px;
}
.section2 h2{
    font-family: 'Bitsumishi';
    font-size: 35px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: left;
    color: #F9DB10;
    margin-bottom: 30px;
}
.section3 h2{
    font-family: 'Bitsumishi';
    font-size: 35px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: center;
    color: #F9DB10;
    margin-bottom: 30px;
}

@media all and (min-width: 992px){}
@media (max-width: 991.98px) {
    .section1{
        height: 150px;
        box-shadow: 0px 4px 25px 0px #00000040;
       background: #1A1A23;
       margin-top: -100px;
       margin-bottom: 50px;
     
    }
    .section1 h3{
        font-family: 'Bitsumishi';
        font-size: 35px;
        font-weight: 400;
        line-height: 35px;
        letter-spacing: 0em;
        text-align: center;
       color: #F9DB10;
    
    }
    .section1 h6{
        font-family: 'Bitsumishi';
        font-size: 15px;
        font-weight: 400;
        line-height: 15px;
        letter-spacing: 0em;
        text-align: center;
    
    }
    .cardHeader{
        margin-top: 40px;
        width: 100%;
       text-align: center;
    }
    .section2 h2{
        font-family: 'Bitsumishi';
        font-size: 30px;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0em;
        text-align: left;
        color: #F9DB10;
        margin-bottom: 30px;
    }
    .section3 h2{
        font-family: 'Bitsumishi';
        font-size: 30px;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0em;
        text-align: center;
        color: #F9DB10;
        margin-bottom: 30px;
    }
}
@media (max-width: 767.98px) {
    .section1{
        height: 150px;
        box-shadow: 0px 4px 25px 0px #00000040;
       background: #1A1A23;
       margin-top: -100px;
       margin-bottom: 50px;
     
    }
    .section1 h3{
        font-family: 'Bitsumishi';
        font-size: 35px;
        font-weight: 400;
        line-height: 35px;
        letter-spacing: 0em;
        text-align: center;
       color: #F9DB10;
    
    }
    .section1 h6{
        font-family: 'Bitsumishi';
        font-size: 15px;
        font-weight: 400;
        line-height: 15px;
        letter-spacing: 0em;
        text-align: center;
    
    }
    .cardHeader{
        margin-top: 40px;
        width: 100%;
       text-align: center;
    }
    .btn{
        border: 1px solid #F9DB10;
        font-family: 'Montserrat';
        font-size: 13px;
        font-weight: 400;
        line-height: 50px;
        letter-spacing: 0em;
        text-align: left;
        color: #F9DB10;
        border-radius: 8px;
        padding: 0px 20px;
        background-color: transparent;
    }
    .section2 h2{
        font-family: 'Bitsumishi';
        font-size: 25px;
        font-weight: 400;
        line-height: 25px;
        letter-spacing: 0em;
        text-align: left;
        color: #F9DB10;
        margin-bottom: 30px;
    }
    .section3 h2{
        font-family: 'Bitsumishi';
        font-size: 25px;
        font-weight: 400;
        line-height: 25px;
        letter-spacing: 0em;
        text-align: center;
        color: #F9DB10;
        margin-bottom: 30px;
    }
}
@media (max-width: 575.98px){
    .section1{
        height: 150px;
        box-shadow: 0px 4px 25px 0px #00000040;
       background: #1A1A23;
       margin-top: -100px;
       margin-bottom: 50px;
     
    }
    .section1 h3{
        font-family: 'Bitsumishi';
        font-size: 30px;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0em;
        text-align: center;
       color: #F9DB10;
    
    }
    .section1 h6{
        font-family: 'Bitsumishi';
        font-size: 14px;
        font-weight: 400;
        line-height: 14px;
        letter-spacing: 0em;
        text-align: center;
    
    }
    .cardHeader{
        margin-top: 50px;
        width: 100%;
       text-align: center;
    }
}