@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.cdnfonts.com/css/bitsumishi');

.main{
    height: 100vh;
}
.section1{
    height: 200px;
    box-shadow: 0px 4px 25px 0px #00000040;
   background: #1A1A23;
   margin-top: -100px;
   margin-bottom: 100px;
   width: 100%;
 
}
.section1 h3{
    font-family: 'Bitsumishi';
    font-size: 50px;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 0em;
    text-align: center;
   color: #F9DB10;

}
.section1 h6{
    font-family: 'Bitsumishi';
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
 color: #fff;
}
.cardHeader{
    margin-top: 50px;
    width: 100%;
   text-align: center;
}

.section2 p a{
    color: #F9DB10;
}

.section2 h5{
    font-family: 'Bitsumishi';
    font-size: 30px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: center;
    color: #F9DB10;

}

.section2 h6{
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: center;
    margin-bottom: 40px !important;
    color: #fff;
}

.btn{
    text-align: center;
    margin-top: 30px;
}

.btn a{
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 0em;
    text-align: center;
    color: #F9DB10;
    border: 1px solid #F9DB10;
    padding: 20px 20px;
    border-radius: 7px;
}

@media all and (min-width: 992px){
    .section2 h6{
        width: 50%;
        margin: auto;
    }
}
@media (max-width: 991.98px) {
    .section1{
        height: 150px;
        box-shadow: 0px 4px 25px 0px #00000040;
       background: #1A1A23;
       margin-top: -100px;
       margin-bottom: 50px;
     
    }
    .section1 h3{
        font-family: 'Bitsumishi';
        font-size: 35px;
        font-weight: 400;
        line-height: 35px;
        letter-spacing: 0em;
        text-align: center;
       color: #F9DB10;
    
    }
    .section1 h6{
        font-family: 'Bitsumishi';
        font-size: 15px;
        font-weight: 400;
        line-height: 15px;
        letter-spacing: 0em;
        text-align: center;
    
    }
    .cardHeader{
        margin-top: 40px;
        width: 100%;
       text-align: center;
    }
    .section2 h5{
        font-family: 'Bitsumishi';
        font-size: 25px;
        font-weight: 400;
        line-height: 35px;
        letter-spacing: 0em;
        text-align: center;
        color: #F9DB10;
    
    }
    
    .section2 h6{
        font-family: 'Montserrat';
        font-size: 14px;
        font-weight: 400;
        line-height: 23px;
        letter-spacing: 0em;
        text-align: center;
        margin-bottom: 40px !important;
        width: 70%;
        margin: auto;
    }

    .btn a{
        font-family: 'Montserrat';
        font-size: 14px;
        font-weight: 400;
        line-height: 50px;
        letter-spacing: 0em;
        text-align: center;
        color: #F9DB10;
        border: 1px solid #F9DB10;
        padding: 15px 15px;
        border-radius: 7px;
    }
}

@media (max-width: 767.98px) {
    .section1{
        height: 150px;
        box-shadow: 0px 4px 25px 0px #00000040;
       background: #1A1A23;
       margin-top: -100px;
       margin-bottom: 50px;
     
    }
    .section1 h3{
        font-family: 'Bitsumishi';
        font-size: 35px;
        font-weight: 400;
        line-height: 35px;
        letter-spacing: 0em;
        text-align: center;
       color: #F9DB10;
    
    }
    .section1 h6{
        font-family: 'Bitsumishi';
        font-size: 15px;
        font-weight: 400;
        line-height: 15px;
        letter-spacing: 0em;
        text-align: center;
    
    }
    .cardHeader{
        margin-top: 40px;
        width: 100%;
       text-align: center;
    }
    .section2 h5{
        font-family: 'Bitsumishi';
        font-size: 22px;
        font-weight: 400;
        line-height: 35px;
        letter-spacing: 0em;
        text-align: center;
        color: #F9DB10;
    
    }
    
    .section2 h6{
        font-family: 'Montserrat';
        font-size: 13px;
        font-weight: 400;
        line-height: 23px;
        letter-spacing: 0em;
        text-align: center;
        margin-bottom: 40px !important;
        width: 70%;
        margin: auto;
    }
    .btn a{
        font-family: 'Montserrat';
        font-size: 14px;
        font-weight: 400;
        line-height: 50px;
        letter-spacing: 0em;
        text-align: center;
        color: #F9DB10;
        border: 1px solid #F9DB10;
        padding: 13px 13px;
        border-radius: 7px;
    }
}

@media (max-width: 575.98px){
    .section1{
        height: 150px;
        box-shadow: 0px 4px 25px 0px #00000040;
       background: #1A1A23;
       margin-top: -100px;
       margin-bottom: 50px;
       width: 100% !important;
     
    }
    .section1 h3{
        font-family: 'Bitsumishi';
        font-size: 30px;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0em;
        text-align: center;
       color: #F9DB10;
    
    }
    .section1 h6{
        font-family: 'Bitsumishi';
        font-size: 14px;
        font-weight: 400;
        line-height: 14px;
        letter-spacing: 0em;
        text-align: center;
    
    }
    .cardHeader{
        margin-top: 50px;
        width: 100%;
       text-align: center;
    }
}