
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');
  @import url('https://fonts.cdnfonts.com/css/bitsumishi');
html,
body {
  margin-top: 40px;
  background-color: #141623;
  padding-top: 50px;
  color: #fff;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

.accordion{
  --bs-accordion-color: #fff;
    --bs-accordion-bg: transparent;
    --bs-accordion-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, border-radius 0.15s ease;
    --bs-accordion-border-color: transparent;
    /* --bs-accordion-btn-icon: url('/images/vector.svg');
    --bs-accordion-btn-active-icon: url('/images/vector.svg'); */
    font-family: Montserrat;
    font-size: 16px;
}


.accordion-button:not(.collapsed) {
  color: #F9DB10;
  background-color: transparent;
  box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0 var(--bs-accordion-border-color);
}

.accordion-button {
  color: #fff;
  outline: none;
  border-bottom: 1px solid white;
  font-family: Bitsumishi;
  font-size: 25px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;

}
.accordion{
  --bs-accordion-color: #fff;
    --bs-accordion-bg: transparent;
    --bs-accordion-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, border-radius 0.15s ease;
    --bs-accordion-border-color: transparent;
    /* --bs-accordion-btn-icon: url("/images/vector.svg") !important;
    --bs-accordion-btn-active-icon: url("/images/vector.svg") !important; */
    font-family: Montserrat;
    font-size: 16px;
}

.accordion-btn{
  /* background-image: url("/images/vector.svg") !important; */
} 
.accordion-btn-active{
  /* background-image: url("/images/vector.svg") !important; */
}
.accordion-button:focus {
  z-index: 3;
  border-color: transparent !important;
  outline: none;
  box-shadow: none;
}
.active{
  color: #F9DB10!important;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.navbar{
  /* --bs-navbar-toggler-icon-bg: url("/images/toggler.svg") !important; */
}

.navbar .navbar-toggler .navbar-toggler-icon{
  background-image: url("../public/images/toggler.svg") !important;
  background-image: url("/images/toggler.svg") !important;
}

.navbar-toggler{
  border:  none !important;
  /* background: url("/images/toggler.svg") !important; */
}
.navbar-toggler:focus{
  box-shadow: none !important;
  border: none !important;
}
.navbar .navbar-toggler{
  outline: none !important;
  border: none !important;
}

@media (max-width: 991.98px){

  .navbar-toggler-icon{
    /* background-image:url("/images/toggler.svg") !important; */
  }

 .navbar{
  justify-content: right;
  text-align: right;
 }
 .navbar-brand{
  width: 55%;
 }
 .navbar-brand img{
  display:block !important;
 }

 

  .navbar .navbar-collapse{
    /* margin-top: 23px; */
    background-color: #1a1a23 !important;
    /* box-shadow: 0px 4px 25px 0px #00000040; */
    max-width: 100% !important;
    /* box-sizing: content-box !important; */
    /* padding-bottom: 50px !important; */
    /* padding-left: 20px; */
    /* backdrop-filter: blur(12px); */
    height: 100vh !important;

     position: absolute !important;
     width: 70% !important;
    top: 100% !important;
    transition: 0.1s cubic-bezier(0, 0, 0, 1) !important;
    /* box-shadow: 0px 4px 18px 0px #00000040; */
    padding-left: 50px !important;
    padding-right: 50px !important;
    /* margin-left: 100px; */

  }

  .nav-link{
    text-align: right !important;
    border-bottom: 1px solid white;
 
  
}
.navbar-toggler-icon{
  margin-right: 50px;
}

.accordion-button {
  color: #fff;
  outline: none;
  border-bottom: 1px solid white;
  font-family: Bitsumishi;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;

}
.accordion{
  --bs-accordion-color: #fff;
    --bs-accordion-bg: transparent;
    --bs-accordion-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, border-radius 0.15s ease;
    --bs-accordion-border-color: transparent;
    /* --bs-accordion-btn-icon: url("/images/vector.svg") !important; */
    /* --bs-accordion-btn-active-icon: url("/images/vector.svg") !important; */
    font-family: Montserrat;
    font-size: 14px;
    line-height: 20px;
}
.accordion-btn-icon{
  /* background: url("/images/vector.svg") !important; */
} 
.accordion-btn-active-icon{
  /* background: url("/images/vector.svg") !important; */
}

}
@media (max-width: 767.98px) {
  .container, .container-xxl, .container-xl, .container-lg, .container-md, .container-sm {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * 1.8) !important;
    padding-left: calc(var(--bs-gutter-x) * 1.8) !important;
    margin-right: auto;
    margin-left: auto;
  }

  .accordion-button {
    color: #fff;
    outline: none;
    border-bottom: 1px solid white;
    font-family: Bitsumishi;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
  
  }
  .accordion{
    --bs-accordion-color: #fff;
      --bs-accordion-bg: transparent;
      --bs-accordion-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, border-radius 0.15s ease;
      --bs-accordion-border-color: transparent;
      /* --bs-accordion-btn-icon: url("/images/vector.svg") !important; */
      /* --bs-accordion-btn-active-icon: url("/images/vector.svg") !important; */
      font-family: Montserrat;
      font-size: 13px;
      line-height: 20px;
  }
  .accordion-btn-icon{
    /* background: url("/images/vector.svg") !important; */
  } 
  .accordion-btn-active-icon{
    /* background: url("/images/vector.svg") !important; */
  }
}

@media (max-width: 575.98px){
  .navbar-collapse{
    /* margin-top: 30px; */
  }
}
